################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Migrations
/App_Data/aspnet-Vidly-20200110063011.mdf
/App_Data/aspnet-Vidly-20200110063011_log.ldf
